/* Fonts */
@font-face
{
    font-family: manrope-reg;
    src: url(../Fonts/Manrope-Regular.ttf);
}

@font-face 
{
    font-family: manrope-semi-bold;
    src: url(../Fonts/Manrope-SemiBold.ttf);
}

@font-face
{
    font-family: manrope-md;
    src: url(../Fonts/Manrope-Medium.ttf);
}

*
{
    /* border: 1px solid red; */
    overflow-x: hidden;
}

/* Body selector */
body
{
    background-color: black;
    font-family: manrope-reg;
}

/* NAVIGATION BAR */

/* Nav Bar */
.nav-bar
{
    background-color: black;
}

/* Div of the Unordered List within the Nav Bar */
.ul-div
{
    display: flex !important;
    align-items: end !important;
    height: 50px;
}

/* The Unordered List within the Nav Bar */
.nav-ul
{
    border: 1px solid #1C1C21;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-collapse: collapse;
    width: 480px !important;
    margin-bottom: -10px;
}

/* Links within the Unordered List */
.nav-li
{
    border: 1px solid #1C1C21;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-collapse: collapse;
    width: 120px !important;
}

/* Pesudo Class applied on the Links within the Unordered List */
.nav-li:hover
{
    background-color: #1C1C21;
}

/* Sub class of the Links within the Unordered List */
.nav-sub-li
{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* Another sub class of the Links within the Unordered List */
.nav-sub-li2
{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/* Contact Button in the Nav Bar */
.contact-btn
{
    background-color: #1C1C21;
    width: 150px;
    height: 60px;
}

/* MEDIA QUERY TO TARGET MEDIUM SCREEN DEVICES */
@media screen and (min-width: 768px) and (max-width:991px)
{
     /* Div of the Unordered List within the Nav Bar */
     .ul-div
     {
         height: 250px;
     }

    /* The Unordered List within the Nav Bar */
    .nav-ul
    {
        border: none;
        width: 100%;
    }

    /* Links within the Unordered List */
    .nav-li
    {
        border: none;
    }

    /* Contact Button in the Nav Bar */
    .contact-btn
    {
        display: none;
    }
}


/* MEDIA QUERY TO TARGET SMALL SCREEN DEVICES */
@media screen and (max-width:767px)
{
    /* .nav-div
    {
        padding-right: -12px !important;
    } */

    /* Div of the Unordered List within the Nav Bar */
    .ul-div
    {
        height: 250px;
    }

    /* The Unordered List within the Nav Bar */
    .nav-ul
    {
        border: none;
        width: 100%;
    }

    /* Links within the Unordered List */
    .nav-li
    {
        border: none;
    }

    /* Contact Button in the Nav Bar */
    .contact-btn
    {
        display: none;
    }
}

/* HERO SECTION#01 */

/* Small Heading of the Hero Section#01 */
.hero-sub-head
{
    color: #62646C;
    overflow: hidden;
}

/* First main Heading of the Hero Section#01 */
.hero-head
{
    font-size: 50px;
    font-family: manrope-semi-bold;
    overflow: hidden;
}

/* Second main Heading of the Hero Section#01 */
.hero-head2
{
    font-size: 50px;
    font-family: manrope-md;
}

/* Button in the Hero Section#01 */
.hero-btn
{
    background-color: transparent;
    border: none;
}

/* MEDIA QUERY TO TARGET MEDIUM SCREEN DEVICES */
@media screen and (min-width: 768px) and (max-width:991px)
{
    /* Small Heading of the Hero Section#01 */
    .hero-sub-head
    {
        font-size: 20px !important;
    }

    /* First main Heading of the Hero Section#01 */
    .hero-head
    {
        font-size: 30px !important;
    }

    /* Button in the Hero Section#01 */
    .hero-btn
    {
        width: 100px !important;
        height: 100px !important;
    }
}

/* MEDIA QUERY TO TARGET SMALL SCREEN DEVICES */
@media screen and (min-width:576px) and (max-width: 767px)
{
    /* Hero Section# 01 */

    /* Small Heading of the Hero Section#01 */
    .hero-sub-head
    {
        font-size: 10px !important;
    }

    /* First main Heading of the Hero Section#01 */
    .hero-head
    {
        font-size: 25px !important;
    }

    /* Second main Heading of the Hero Section#01 */
    .hero-head2
    {
        font-size: 25px !important;
    }

    /* Button in the Hero Section#01 */
    .hero-btn
    {
        width: 100px !important;
        height: 100px !important;
    }

    /* Background Image of the Hero Section#01 */
    .hero-bg
    {
        width: 150px;
    }
}

/* MEDIA QUERY TO TARGET EXTRA SMALL SCREEN DEVICES */
@media screen and (max-width:575px)
{
    /* Small Heading of the Hero Section#01 */
    .hero-sub-head
    {
        font-size: 20px !important;
    }

    /* First main Heading of the Hero Section#01 */
    .hero-head
    {
        font-size: 40px !important;
    }

    /* Second main Heading of the Hero Section#01 */
    .hero-head2
    {
        font-size: 40px !important;
    }

    /* Button in the Hero Section#01 */
    .hero-btn
    {
        width: 120px !important;
        height: 120px !important;
    }
}

/* HERO SECTION#02 */

/* For background color */
.hero-head2
{
    background-color: black;
}

/* For background color */
.black-bg
{
    background-color: black;
}

/* The Unordered list of the Hero Section#02 */
.h2-ul
{
    background-color: #1C1C21;
}

/* Pseudo Class on the List Items of the Unordered list of the Hero Section#02 */
.h2-link:hover
{
    border: 1px solid #1C1C21 !important;
}

/* MEDIA QUERY TO TARGET MEDIUM SCREEN DEVICES */
@media screen and (min-width: 768px) and (max-width:991px)
{
    /* The Unordered list of the Hero Section#02 */
    .h2-ul
    {
        display: none;;
    }
}

/* MEDIA QUERY TO TARGET SMALL SCREEN DEVICES */
@media screen and (min-width:576px) and (max-width: 767px)
{
    /* The Unordered list of the Hero Section#02 */
    .h2-ul
    {
        display: none;;
    }

    /* List Items of the Unordered list of the Hero Section#02 */
    .h2-link
    {
        font-size: 15px;
    }
}

/* MEDIA QUERY TO TARGET EXTRA SMALL SCREEN DEVICES */
@media screen and (max-width:575px)
{
    /* The Unordered list of the Hero Section#02 */
    .h2-ul
    {
        display: none;;
    }

    /* Background of the Hero Section#02 */
    .h2-bg
    {
        height: 300px;
        object-fit: fill;
    }
}

/* ABOUT INFO SECTION */

/* The Header/ Top Div of the About Info Section */
.about-header
{
    border-bottom: 1px solid #1C1C21;
}

/* The "Know More" button */
.know-more-btn
{
    background-color: #1C1C21;
    /* width: 200px;
    height: 60px; */
}

/* To apply the borders around the section */
.bord
{
    border: 1px solid #1C1C21;
    border-collapse: collapse;
}

/* Div containing the Icons */
.direct-links
{
    border: 1px solid #1C1C21;
    border-radius: 20px;
    width: 150px !important;
    height: 50px;
}

/* Icon Buttons */
.icon-btn
{
    background-color: #1C1C21;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 40px;
}

/* MEDIA QUERY TO TARGET SMALL SCREEN DEVICES */
@media screen and (min-width:576px) and (max-width: 767px)
{
    /* The Header/ Top Div of the About Info Section */
    .about-header
    {
        padding-bottom: 10px;
    }

    /* Sub div of the Direct Links Button */
    .d-btn-sub
    {
       width: 100%;
    }

    /* Responsive Heading of the About Section */
    .about-res-head
    {
        gap: 20px;
    }
}

/* MEDIA QUERY TO TARGET EXTRA SMALL SCREEN DEVICES */
@media screen and (max-width:575px)
{
    /* The Header/ Top Div of the About Info Section */
    .about-header
    {
        padding-bottom: 20px;
    }

    /* Sub div of the Direct Links Button */
    .d-btn-sub
    {
       width: 100%;
    }

    /* Responsive Heading of the About Section */
    .about-res-head
    {
        gap: 10px;
    }
}

/* SERVICES SECTION */

/* Icons in the Header Section */
.chevrons
{
    border: 1px solid #1C1C21;
    border-radius: 20px;
    width: 100px !important;
    height: 50px;
}

/* Text Color of the Introduction Part */
.ip-color
{
    color: #797C86 !important;
}

/* Button of the Introduction Part */
.ip-btn
{
    background-color: transparent;
    border: none;
    width: 100px !important;
    height: 100px !important;
}

/* Text of the Services Section */
.service-text
{
    font-size: 12px !important;
}

/* List Items of the Service Highlights List */
.service-item
{
    border: 1px solid #1C1C21;
    border-radius: 10px;
    color: #AFB0B6;
    height: 50px;
}

/* Icon Image of the Service highlights Part */
.icon3
{
    width: 30px;
    height: 30px;
}

/* PORTFOLIO SECTION */

.card-bg
{
    background-color: black;
}

.card-head
{
    font-size: 10px !important;
}

.card-p
{
    color: #797C86;
    font-size: 10px !important;
}

.card-btn
{
    font-size: 10px !important;
}

.icon4
{
    width: 10px;
    height: 10px;
}

